[Unit]
Description=ngrok service for linebot
Wants=network-online.target
After=network-online.target

[Service]
Type=always
ExecStart=/root/ngrok/ngrok start --all
User=root
Restart=always

[Install]
WantedBy=multi-user.target
